table {
    border: 0;
}
.header-image {
    width: 100px;
    height: 100px;
}
p {
    padding-right: 0px;
}
.main-table {
    border: 1px solid #555;
    border-collapse: collapse;
    text-align: justify;
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 85, 14);
}
.main-table th,
.main-table td {
    border: 1px solid #555;
    padding: 10px;
}
.photo {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}
